################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/obj/Docker/TargetOS.cache
/API/.vs/API/FileContentIndex
